[submodule "prometheus"]
	path = prometheus
	url = git@github.com:SAbdulRahuman/prometheus.git
[submodule "alertmanager"]
	path = alertmanager
	url = git@github.com:SAbdulRahuman/alertmanager.git
[submodule "grafana"]
	path = grafana
	url = git@github.com:SAbdulRahuman/grafana.git
